<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>每天都被自己帅醒!</title>
	<link rel="stylesheet" href="">
	<script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
	<div id="app">
		<fieldset>
			<legend>数据排序及相关操作</legend>
			<input type="text" v-model="searchName" />
			<ul>
				<li v-for="(item,index) in personArr" :key="index">
					索引:{{index}}---id:{{item.id}}---名字:{{item.name}}---年龄:{{item.age}}
				</li>
			</ul>
			<button @click="state=1">升序排序</button>
			<button @click="state=2">降序排序</button>
			<button @click="state=0">原来顺序</button>
		</fieldset>
	</div>
	<script type="text/javascript">
		const vm = new Vue({
			el: '#app',
			data: {
				searchName: '', // 用来存储搜索的内容
				state: 0, // 默认是0,如果是0就是原来顺序,如果是1则是升序,如果是2则是降序
				persons: [
					{ id: 1, name: 'jack', age: 28 },
					{ id: 2, name: 'tom', age: 49 },
					{ id: 3, name: 'lucy', age: 15 },
					{ id: 4, name: 'rousi', age: 69 },
					{ id: 5, name: 'alibaba', age: 97 }
				]
			},
			// 计算属性
			computed: {
				// 这是一个get简写的写法
				personArr() {
					// 根据searchName去persons数组中进行查询搜索
					const { state, persons, searchName } = this  // 解构出我需要用到的数据
					// 存储的就是新的搜索到的数据,放在这个数组中
					const arr = persons.filter((item) => item.name.indexOf(searchName) !== -1)
					// 自己设定一个状态,根据状态的不同来进行排序
					// 判断状态
					if (state !== 0) {
						// 进行排序
						arr.sort((p1, p2) => {
							return state === 2 ? p2.age - p1.age : p1.age - p2.age
						})
					}

					return arr
				}
			}
		})


		// 首先获取文本框中实时输入的数据--->searchName
		// 去persons数组中根据searchName进行查询数据---并且存储到一个新的数组中

	</script>
</body>

</html>