$fontColor = yellow
div
  width 300px
  height 200px
  border 1px solid red
  background-color: green
  p
    width 200px
    height 30px
    font-family '全新硬笔行书简'
    color $fontColor
    background-color gray