<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>每天都被自己帅醒!</title>
	<link rel="stylesheet" href="">
	<script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
	<div id="app">
		<h2>表单数据绑定操作</h2>
		<form action="xxx/" method="post">
			<fieldset>
				<legend>帐号和密码</legend>
				<!--在文本框中添加一个v-model-->
				用户名: <input type="text" v-model="user.name"><br />
				密码: <input type="password" v-model="user.pwd"><br />
			</fieldset>
			<fieldset>
				<legend>性别选择器</legend>
				<input type="radio" name="gender" value="男" v-model="user.gender" />男
				<input type="radio" name="gender" value="女" v-model="user.gender" />女

			</fieldset>
			<fieldset>
				<legend>爱好选择</legend>
				<input type="checkbox" value="eat" v-model="user.hobby" />吃饭
				<input type="checkbox" value="sleep" v-model="user.hobby"  />睡觉
				<input type="checkbox" value="play" v-model="user.hobby"  />打豆豆
			</fieldset>
			<fieldset>
				<legend>城市选择和文本内容</legend>
				<select v-model="user.cityId">
					<optgroup label="中国">
						<option :value="item.id" v-for="(item,index) in user.cities" :key="index">{{item.name}}</option>
					</optgroup>
				</select>
				<br />
				<textarea name="" id="" cols="80" rows="5" v-model="user.txt">哈哈</textarea>
			</fieldset>
			<input type="submit" value="注册" @click.prevent="register">
		</form>
	</div>
	<script type="text/javascript">
		// 需求:通过v-model指令绑定表单标签(获取相应的数据,或者对其他表单标签的数据进行操作(单选框可以设置默认的选中,复选框同上))

		const vm = new Vue({
			el: '#app',
			data: {
				// 用户对象
				user:{
					name:'', // 用来存储用户名字
					pwd:'', // 存储用户密码的
					gender:'女' , // 性别
					hobby:['eat','play'], // 爱好
					cityId:3, // 默认选中城市的id
					cities:[
						{id:1,name:'北京市'},
						{id:2,name:'上海市'},
						{id:3,name:'重庆市'},
						{id:4,name:'天津市'},
						{id:5,name:'东京市'}
					],
					txt:'有一天在路上散步,迎面走来几个女孩子,擦肩而过的时候,大声的喊道,哇~好帅哦,我回头就是一耳光,废话,用你说'
				}
			},
			methods: {
				register(){
					console.log(this.user.name,this.user.pwd)
				}
			}
		})
	</script>
</body>

</html>